@import '../../styles/style';
.layout {
  display:grid;
  .header{
    position: fixed;
    z-index: 10;
  }
  .content {
    position: relative;
    margin-top: 8vh;
    display: grid;
    grid-template-columns: 20vw 60vw 20vw;
    .sidebar{
      position: fixed;
    }

  }
  .child {
    grid-column: 2/3;
    justify-self: center;
  }
  
  @include media("<desktop"){
    .content{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .sidebar{
        display: none;
      }
    }
  }
}
