@import "../../styles/style";
.header {
  display: grid;
  grid-template-columns: 20vw 60vw 20vw;
  align-items: center;
  height: 8vh;
  border-bottom: 1px solid $dark;
  background-color: $darkest;
  @include media("<tablet") {
    display: flex;
    justify-content: space-around;
    width: 100%;

  }
  .logo {
    justify-self: center;
    svg {
      padding-top: 2px;
      width: 3rem;
      height: 3rem;
      path {
        fill: $orange;
      }

      @include media("<tablet") {
        width: 2rem;
        height: 2rem;
      }
    }

   
  }

  .filters {
    display: flex;
    margin: 0 10vw;
    @include media("<desktop") {
      margin: 0;
      justify-content: space-between;
      width: 70%;
    }

    .filter {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin: 0 2vw;
      transition: all 0.2s ease-in-out;
      cursor: pointer;
      & span {
        margin-left: 0.5rem;
        font-size: 1.2rem;

        @include media("<tablet") {
          width: 1rem;
          height: 1rem;
        }
      }
      svg {
        width: 2rem;
        height: 2rem;

        path,
        g {
          fill: white;
        }

        @include media("<tablet") {
          width: 1rem;
          height: 1rem;
        }
      }

      &:hover {
        &::after {
          content: "";
          width: 100%;
          position: absolute;
          background-color: $blue;
          height: 4px;
          bottom: -2vh;
        }

        span {
          color: $blue;
        }
        svg {
          path,
          g {
            fill: $blue;
          }
        }
      }
  
    }

    .active {
      &::after {
        content: "";
        width: 100%;
        position: absolute;
        background-color: $blue;
        height: 4px;
        bottom: -2vh;
      }

      span {
        color: $blue;
      }
      svg {
        path,
        g {
          fill: $blue;
        }
      }
    }
  }

  .searchbar {
    justify-self: center;
    @include media("<desktop") {
      display: none;
     }
  }
}
